.banner{
    background: url(../img/bg.jpg) no-repeat center right/cover;
    height: 100vh;
    position: relative;
    z-index: 10;
    margin-bottom: 48px;
}

.banner__wrap{
    display: flex;
    justify-content: space-between;
}

.all{
    height: 100vh;
    padding-top:  167px  ;
}

.big{
    font-family: var(--ral-bl) , sans-serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 85px;
    color: #69CF17;
    margin-bottom: 18px;
}

.small{
    font-family: var(--rr) , sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 17px;
    color: #69CF17;
    margin-bottom: 18px;
}

.use{
    font-family:  var(--rr) , sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    max-width: 1110px;
    margin-bottom: 30px;
}

.all__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sum{
    position: relative;
    background: rgba(105, 207, 23, 0.5);
    z-index: -1;
    height: 103px;
    width: 285px;
    font-family:var(--rt) , sans-serif;
    font-size: 50px;
    font-weight: 100;
    line-height: 25px;
    color: white;
    text-align: center;
    padding-top: 33px;
}

.see{
    padding: 15px 71px;
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    border-radius: 6px;
    font-family: var(--rr) , sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: white;

}

.eat{
    background: #292929;
    box-shadow: 0px 1px 8px rgba(17, 17, 17, 0.3);
}

.menu__eat{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eats{
    display: flex;
    align-items: center;
    gap: 31px;
    padding: 21px 20px;
}



.menu__naw {
font-family: var(--rr);
font-size: 18px;
font-weight: 400;
line-height: 24px;
color: white;
position: relative;
}


.menu__naw::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 0%;
    height: 1px;
    border-radius: 1px;
    background:  white;
    transform: translateX(-50%);
    transition: 0.3s;
}
.menu__naw:hover{
color: white;
}

.menu__naw:hover.menu__naw::before {
    width: 100%;

}

.burgers{
    background:  #393636;
    padding: 15px;
    
}

.burg__wrap{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
   width: 100%;
   margin: 0 auto;
   flex-wrap: wrap;
}

.card{
    height: 524px;
    width: 370px;
    background: #0c0c0c;
    border-radius: 4px ;
    border: 1px solid white;

}

.burg{
    padding: 15px 16px ;
}
.meet{
    padding: 0 15px ;
}

.meat{
    font-family: var(--ral-bo) , sans-serif;
    font-size: 19px;
   font-weight: 700;
  line-height: 15px;
  margin-bottom: 15px;

} 
.ip{
    font-family: var(--rr) , sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;


}